<app-navbar>
    <body>
        <div class="title">Taxi Services</div>
        <mat-tab-group  color="primary" >

            <mat-tab color="accent" *ngFor="let option of options" label="{{option.name}}">

                <img src="{{option.imgUrl}}">
                <div>{{option.desc}}</div>
                <button  mat-button color="primary" (click)="func(option.name)" >Add {{option.name}} Service</button>
        </mat-tab>
        </mat-tab-group>
    
    </body>   
       
        
</app-navbar>
