<mat-card class="main">
     <div *ngFor="let service of serviceList" >
        <!-- <mat-expansion-panel> -->
            <!-- <mat-expansion-panel-header> -->
                <div class="title"><mat-panel-title>
                    {{service.name}}
                 </mat-panel-title>
                </div>
            <!-- </mat-expansion-panel-header> -->
           <div class="row container">
                <div class="col">
                    <mat-card>
                        <img src="{{service.imageUrl}}" alt="Photo {{service.name}}">
                        <p>{{service.desc}}</p>
                    </mat-card>
                    
                </div>
                <div class="col-md">
                   
                    
                        <div  *ngFor="let option of service.options">
                            <p>
                            <span class="glyphicon glyphicon-record"></span>
                            {{option}}
                            </p>    
                        </div>

                    <button mat-button color="primary" [routerLink]="['/', service.name | lowercase]" routerLinkActive="router-link-active" >Add Service</button>
                </div>
            </div>

            

           
        <!-- </mat-expansion-panel> -->
        
        <mat-card-actions>
          
        </mat-card-actions>

<br>
</div>
</mat-card>
