<app-navbar-official>
    <mat-tab-group  color="primary" >

        <mat-tab color="accent" *ngFor="let service of serviceArray" label="{{service.name}} ">
            <div *ngIf="service.userList.length==0"> No Users</div>
            <table  *ngIf="service.userList.length>0">


               
                <tr>
                    <th>SNo.</th>
                    <th>uid</th> 
                    <th>Phone</th>
                   
                </tr>
                
                <tr *ngFor="let list of service.userList; let i=index">
                    
                    <td>{{i+1}}.</td>
                    <td>{{list.uid}}</td>
                    <td>{{list.phone}}</td>
                    
                </tr>
                
            </table>
           

              </mat-tab>
    
    
    
    
    </mat-tab-group>
</app-navbar-official>
