body{
    background: linear-gradient(35deg, #ece9e6, #ffffff 120%);
    /* overflow: hidden; */
}
.title{
    font-size: 20px;
    display: flex;
    display: flex;
    justify-content: center;
    
    
}

/* .container{
    display: flex;
    text-align: center;
} */
.mat-tab-label, .mat-tab-label-content{
    
    font-size: 17px;
    color: rgba(1,57,118,1);
}

img{
    height: 15em;
}

button{
    margin-top: 1em;
    border: 1px black double;
}