

<div class="main mainstyle" >
    <div class="container-fluid con">
      <div class="row">
          <div class="col-2 col-sm-2"></div>
          <div class="col-8 col-sm-8">
            <div class="container1">
                <div class="carousel" id ="loop">
                  <div class="item a"><img src="./../../../assets/images/img-service/luggage.jpeg" style="border-radius: 50%;box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div>
                  
                  <div class="item b"><img src="./../../../assets/images/img-service/taxi.jpeg" style="border-radius: 50%;box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div>
                 
                  <div class="item c"><img src="./../../../assets/images/img-service/porter.jpg" style="border-radius: 50%;box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div>
    
                  <div class="item d"><img src="./../../../assets/images/img-service/child-care.jpeg" style="border-radius: 50%;box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div>
                </div>
            </div>
          </div>
          <div class="col-2 col-sm-2"></div> 
      </div>
    </div>
    
    
    
    
    
    
    <div class="container-fluid">
        <div class="row" style="margin-top: 50px;">
            <div class="col-3 col-sm-3">  <a class="prev arrow"(click)="prev1()"><<</a></div>
            <div class=" col-6 col-sm-6"></div>
             <div class="col-3 col-sm-3">  <a class="next arrow" (click)="next1()">>></a></div> 
        
        </div>
    </div>
    
    </div>