

<div class="main mainstyle" >
    <div class="container-fluid con">
      <div class="row">
          <div class="col-2 col-sm-2"></div>
          <div class="col-8 col-sm-8">
            <div class="container1">
                <div class="carousel" id ="loop">
                  <div class="item a"><img src="https://pixabay.com/get/57e5d4464e50ac14f1dc8460825668204022dfe054587148712872d0/taxi-1515420_640.jpg" style="height: 100px;width: 100px;border-radius: 50%;box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div>
                  
                  <div class="item b"><img src="https://pixabay.com/get/54e7d6404a54a414f1dc8460825668204022dfe054587148722c7bd5/passport-2733068_640.jpg" style="height: 100px;width: 100px;border-radius: 50%;box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div>
                 
                  <div class="item c"><img src="https://pixabay.com/get/55e5d34a4e51ad14f1dc8460825668204022dfe054587148722b7bd7/child-3569431_640.jpg" style="height: 100px;width: 100px;border-radius: 50%;box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div>
    
                  <div class="item d"><img src="https://pixabay.com/get/50e7d3404955b10ff3d89938b977692b083edbe25a51704f7c2e7b/reception-676337_640.jpg" style="height: 100px;width: 100px;border-radius: 50%;box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div>
                </div>
            </div>
          </div>
          <div class="col-2 col-sm-2"></div> 
      </div>
    </div>
    
    
    
    
    
    
    <div class="container-fluid">
        <div class="row" style="margin-top: 50px;">
            <div class="col-3 col-sm-3">  <a class="prev arrow"(click)="prev1()"><<</a></div>
            <div class=" col-6 col-sm-6"></div>
             <div class="col-3 col-sm-3">  <a class="next arrow" (click)="next1()">>></a></div> 
        
        </div>
    </div>
    
    </div>