<app-navbar>
    <h3>New Journey</h3>
<p>
  <mat-form-field>
    <mat-select [formControl]="DataAirportFromServerSideCtrl" placeholder="Travelling From">
      <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
      <mat-option>
        <ngx-mat-select-search [formControl]="DataAirportServerSideFilteringCtrl" [searching]="searching"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let DataAirports of filteredServerSideDataAirport | async" [value]="DataAirports">
        {{DataAirports.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>

<p>
    <mat-form-field>
      <mat-select [formControl]="DataAirportToServerSideCtrl" placeholder="Travelling To">
        <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
        <mat-option>
          <ngx-mat-select-search [formControl]="DataAirportServerSideFilteringCtrl" [searching]="searching"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let DataAirports of filteredServerSideDataAirport | async" [value]="DataAirports">
          {{DataAirports.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
<p>
  Selected Airport From: {{DataAirportFromServerSideCtrl.value?.name}}
</p>
<p>
    Selected Airport To: {{DataAirportToServerSideCtrl.value?.name}}
  </p>


  
</app-navbar>