<app-navbar>
   
    <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
           <mat-panel-title>
              Driver List
           </mat-panel-title>
           <mat-panel-description>
                we are here
           </mat-panel-description>
        </mat-expansion-panel-header> -->
            <table *ngIf="drivers.length>0">
            <!-- <tr>
                <th>Drivers</th>
            </tr> -->
        <tr *ngFor="let driver of drivers; let i=index ">
            
           <td>{{driver.name}}</td> 
           <td>{{driver.phone}}</td>
        </tr>
     
     </table>
     
       
    <!-- </mat-expansion-panel> -->
         



    <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
           <mat-panel-title>
              Porter List
           </mat-panel-title>
           <mat-panel-description>
               see the list
           </mat-panel-description>
        </mat-expansion-panel-header>
        -->
        <table *ngIf="porters.length>0">
            <!-- <tr>
                <th>Porters</th>
            </tr> -->
            <tr *ngFor="let porter of porters; let i=index ">
                
               <td>{{porter.name}}</td> 
               <td>{{porter.phone}}</td>
            </tr>
         
         </table>
     
       
    <!-- </mat-expansion-panel> -->
</app-navbar> 
