<div class="container-fluid"  style="padding:0px;">
    <div class="row">
        <div class="col-12 col-sm-12" style=" padding: inherit;">
            <p  style="text-align: center;color: gold;background: cadetblue;margin: auto;height: 40px;  padding-top: 10px" ><strong>exciting coupons.</strong></p>
        </div>
    </div>
    <div class="row">
       <div class="col-6 col-sm-6 " style="border: 1px solid black ;">
           <div>
        <a routerLink="/cabcoupon"> <i class="fas fa-car" style='font-size:80px;color: #4f4545;padding-left: 15vw;'></i></a>
         </div>
         <div><p style="padding-left: 15vw;">cab coupon</p></div>
       </div>
       <div class="col-6 col-sm-6" style="border: 1px solid black ;">
           <div>
         <a routerLink="/hotelcoupon"><i class="fas fa-hotel"  style='font-size:60px;color: #4f4545;padding-left: 15vw;margin-top: 10px;'></i></a>
           </div>
           <div><p style="padding-left: 15vw;padding-top: 10px;">Hotel coupon</p></div>
       </div>
    </div>

      <div class="row">
          <div class="col-6 col-sm-6" style="border: 1px solid black ;">
              <div>
                <a routerLink="/foodcoupon"> <i class="fas fa-utensils" style='font-size:80px;color: #4f4545;padding-left: 15vw;margin-top: 20px;' ></i></a>
              </div>
              <div><p style="padding-left: 15vw;">Food coupon</p></div>
           </div>
           <div class="col-6 col-sm-6" style="border: 1px solid black ;">
               <div>
                 <a routerLink="/flightcoupon"><i class="fas fa-plane"  style='font-size:80px;color: #4f4545;padding-left: 15vw;margin-top: 20px;'></i></a>
               </div>
                     <div><p style="padding-left: 15vw;">Flight coupon</p></div>
            </div>
      </div>
    
</div>