<div class="content-group">
  <h2 class="group-title">AIRPORT SERVICES ACTIVITIES</h2>
  <section class="bl-activities">
    <div class="table-content persistent-table">
      <div class="row relative">
        <div class="column one-half">
          <div class="bl-activity">
            <a class="bl-activity-link">
              <div class="bl-activity-image">
                <img src="/media/2323987/01.jpg" alt="PASSENGER SERVICES" />
              </div>
              <div class="bl-activity-sumary">
                <h3>PASSENGER SERVICES</h3>
                <h4></h4>
                <span class="arrowdown"></span>
              </div>
            </a>
            <div class="bl-activity-content">
              <div class="bl-activity-content-inner">
                <div class="wysiwyg">
                  <p>Passenger attention and assistance at the airport:</p>
                  <ul class="check-list">
                    <li>Passenger check-in.&nbsp; &nbsp;</li>
                    <li>Flight connection assistance (transfer desk).</li>
                    <li>Passenger embarkation.</li>
                    <li>
                      Passenger assistance in the event of flight problems.
                    </li>
                    <li>Special passenger assistance (minors, VIP).</li>
                    <li>Computerised check-in systems.</li>
                    <li>Information desks.</li>
                    <li>Excess luggage charges.</li>
                    <li>Flight statistics report.</li>
                    <li>Luggage search services (search and distribution).</li>
                    <li>Flight editing.</li>
                    <li>Document verification.</li>
                    <li>Overbooking resolution.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.column-->
        <div class="column one-half">
          <div class="bl-activity">
            <a class="bl-activity-link">
              <div class="bl-activity-image">
                <img
                  src="/media/2323993/02.jpg"
                  alt="LOADING OPERATIONS AND SHEETS"
                />
              </div>
              <div class="bl-activity-sumary">
                <h3>LOADING OPERATIONS AND SHEETS</h3>
                <h4></h4>
                <span class="arrowdown"></span>
              </div>
            </a>
            <div class="bl-activity-content">
              <div class="bl-activity-content-inner">
                <div class="wysiwyg">
                  <p>
                    Assistance during the entire change-over of the aircraft by
                    a specialised agent:
                  </p>
                  <ul class="check-list">
                    <li>Communication between the cabin and the ground.</li>
                    <li>Assistance during the engine start-up.</li>
                    <li>Meteo.</li>
                    <li>Crew assistance.</li>
                    <li>Ramp coordination (ramp agent).</li>
                    <li>Crew briefing</li>
                    <li>Ground-to-air communication (VHF).</li>
                    <li>Load planning.</li>
                    <li>Control of ULDs.</li>
                    <li>Service coordination and supervision.</li>
                    <li>Preparation of loading sheet.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.column-->
      </div>
      <!--/.row-->
    </div>
    <!--/.table-content-->
    <div class="table-content persistent-table">
      <div class="row relative">
        <div class="column one-half">
          <div class="bl-activity">
            <a class="bl-activity-link">
              <div class="bl-activity-image">
                <img src="/media/2323999/03.jpg" alt="RAMP" />
              </div>
              <div class="bl-activity-sumary">
                <h3>RAMP</h3>
                <h4></h4>
                <span class="arrowdown"></span>
              </div>
            </a>
            <div class="bl-activity-content">
              <div class="bl-activity-content-inner">
                <div class="wysiwyg">
                  <p>
                    <br />Provision of services required by aircraft during
                    their change-overs at airports:
                  </p>
                  <ul class="check-list">
                    <li>Loading and unloading of suitcases and freight.</li>
                    <li>Dragging and thrusting of aircraft.</li>
                    <li>Drinking and wastewater services.</li>
                    <li>Cleaning of passenger and crew cabins.</li>
                    <li>
                      Auxiliary equipment, tyre, electrical and air conditioning
                      groups.
                    </li>
                    <li>
                      Transportation of passengers and crew between aircraft and
                      terminals.
                    </li>
                    <li>Transportation of suitcases and freight.</li>
                    <li>Handling of ULDs.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.column-->
        <div class="column one-half">
          <div class="bl-activity">
            <a class="bl-activity-link">
              <div class="bl-activity-image">
                <img src="/media/2324005/05.jpg" alt="GENERAL AVIATION" />
              </div>
              <div class="bl-activity-sumary">
                <h3>GENERAL AVIATION</h3>
                <h4></h4>
                <span class="arrowdown"></span>
              </div>
            </a>
            <div class="bl-activity-content">
              <div class="bl-activity-content-inner">
                <div class="wysiwyg">
                  <p>
                    Full assistance service to private aeroplanes and their
                    passengers:
                  </p>
                  <ul class="check-list">
                    <li>Flight assistance.</li>
                    <li>Passenger services.</li>
                    <li>
                      Catering requests, hotel reservations and transportation
                      for passengers and crew.
                    </li>
                    <li>Loading and unloading of suitcases.</li>
                    <li>Auxiliary flight teams.</li>
                    <li>Coordination of payments and airport taxes.</li>
                    <li>Cabin cleaning.</li>
                    <li>Flight plans and meteorological information.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.column-->
      </div>
      <!--/.row-->
    </div>
    <!--/.table-content-->
    <div class="table-content persistent-table">
      <div class="row relative">
        <div class="column one-half">
          <div class="bl-activity">
            <a class="bl-activity-link">
              <div class="bl-activity-image">
                <img src="/media/2324011/04.jpg" alt="FREIGHT" />
              </div>
              <div class="bl-activity-sumary">
                <h3>FREIGHT</h3>
                <h4></h4>
                <span class="arrowdown"></span>
              </div>
            </a>
            <div class="bl-activity-content">
              <div class="bl-activity-content-inner">
                <div class="wysiwyg">
                  <p>
                    Safekeeping, handling and delivery of freight at the freight
                    terminal:
                  </p>
                  <ul class="check-list">
                    <li>Documentation management (Importation/Exportation).</li>
                    <li>Special load handling.</li>
                    <li>Storage service.</li>
                    <li>Mail handling.</li>
                    <li>Load acceptance and consolidation.</li>
                    <li>ULD loading and unloading (freight units).</li>
                    <li>Inventory control.</li>
                    <li>Loading and unloading of lorries.</li>
                    <li>Rapid delivery services.</li>
                    <li>Handling of hazardous goods.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.column-->
        <div class="column one-half">
          <div class="bl-activity">
            <a class="bl-activity-link">
              <div class="bl-activity-image">
                <img src="/media/2324017/06.jpg" alt="AIRPORT TICKET SALES" />
              </div>
              <div class="bl-activity-sumary">
                <h3>AIRPORT TICKET SALES</h3>
                <h4></h4>
                <span class="arrowdown"></span>
              </div>
            </a>
            <div class="bl-activity-content">
              <div class="bl-activity-content-inner">
                <div class="wysiwyg">
                  <p>Reservation and sale of tickets for customer airlines:</p>
                  <ul class="check-list">
                    <li>Ticket desk.</li>
                    <li>
                      Charging of complementary services (excess luggage,
                      special services, etc.).
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.column-->
      </div>
      <!--/.row-->
    </div>
    <!--/.table-content-->
    <div class="table-content persistent-table">
      <div class="row relative">
        <div class="column one-half">
          <div class="bl-activity">
            <a class="bl-activity-link">
              <div class="bl-activity-image">
                <img src="/media/2324023/07.jpg" alt="Handling PMR" />
              </div>
              <div class="bl-activity-sumary">
                <h3>Handling PMR</h3>
                <h4></h4>
                <span class="arrowdown"></span>
              </div>
            </a>
            <div class="bl-activity-content">
              <div class="bl-activity-content-inner">
                <div class="wysiwyg">
                  <p>
                    Attention and assistance services to passengers with reduced
                    mobility:
                  </p>
                  <ul class="check-list">
                    <li>
                      Facilitate the embarkation and disembarkation of
                      passengers with reduced mobility through qualified people
                      and specific teams.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.column-->
        <div class="column one-half">
          <div class="bl-activity">
            <a class="bl-activity-link">
              <div class="bl-activity-image">
                <img src="/media/2324029/08.jpg" alt="DE-ICING SERVICES" />
              </div>
              <div class="bl-activity-sumary">
                <h3>DE-ICING SERVICES</h3>
                <h4></h4>
                <span class="arrowdown"></span>
              </div>
            </a>
            <div class="bl-activity-content">
              <div class="bl-activity-content-inner">
                <div class="wysiwyg"><p>Aircraft de-icing service.</p></div>
              </div>
            </div>
          </div>
        </div>
        <!--/.column-->
      </div>
      <!--/.row-->
    </div>
    <!--/.table-content-->
    <div class="table-content persistent-table">
      <div class="row relative">
        <div class="column one-half">
          <div class="bl-activity">
            <a class="bl-activity-link">
              <div class="bl-activity-image">
                <img src="/media/2324035/09.jpg" alt="GANGWAYS" />
              </div>
              <div class="bl-activity-sumary">ij
                <h3>GANGWAYS</h3>
                <h4></h4>
                <span class="arrowdown"></span>
              </div>
            </a>
            <div class="bl-activity-content">
              <div class="bl-activity-content-inner">
                <div class="wysiwyg">
                  <p>
                    Positioning of telescopic gangways enabling passenger
                    embarkation and disembarkation.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.column-->
        <div class="column one-half">
          <div class="bl-activity">
            <a class="bl-activity-link">
              <div class="bl-activity-image">
                <img
                  src="/media/2324041/10.jpg"
                  alt="HANDLING AT NON-AIRPORT FACILITIES"
                />
              </div>
              <div class="bl-activity-sumary">
                <h3>HANDLING AT NON-AIRPORT FACILITIES</h3>
                <h4></h4>
                <span class="arrowdown"></span>
              </div>
            </a>
            <div class="bl-activity-content">
              <div class="bl-activity-content-inner">
                <div class="wysiwyg">
                  <p>Check-in of passengers and luggage at:</p>
                  <ul class="check-list">
                    <li>Hotels.</li>
                    <li>Maritime terminals (cruises).</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.column-->
      </div>
      <!--/.row-->
    </div>
    <!--/.table-content-->
  </section>
  <!--/.bl-activities-->
</div>
