<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 div1 " >
     
      <div class="row">
       <div class="col-12 col-sm-12">
        <div><img src="../../../assets/images/AIRSY_LOGO.png" class="airimg"></div>
        <div style="display: flex;justify-content: center;"></div>
       </div>
        <!-- <div class="col-12 col-sm-12">
           <div><strong>aireasy</strong></div>
        </div> -->
      </div>




    </div>

   

  </div>
  <div class="row">

    <div class="col-12 col-sm-12 div2" >
      <div class="row">
        
        <div class="login" >
          <div class="row">
           
            <div class="col-12 col-sm-12 logindiv">
             <div style="padding-top: 2vh;"> <a routerLink="/register" style="color:#645f5f;"> <img src="../../../assets/images/user.png" class="imgstyle"></a></div>
          </div>
          <div class="col-12 col-sm-12 " style="height: 5vh;display: flex;justify-content:center;">
            <div ><strong>user</strong></div>
          </div>
     
            <div class="col-12 col-sm-12 logindiv" >
              <div  style="padding-top: 2vh;"><a routerLink="/login" style="color:#645f5f;"><img src="../../../assets/images/admin.png" class="imgstyle" ></a></div>
            </div>
            <div class="col-12 col-sm-12 " style="height: 5vh;display: flex;justify-content:center;">
              <div ><strong>admin</strong></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>