   
  .login {
    position: absolute;
     height: 40vh;
 
     
     background-color: white;
     bottom: 27vh;
     margin-left: 15vw;
     width: 70vw;
     border-radius: 25px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .div1{
     height: 60vh;
     background-image: linear-gradient(#ffffff, #185a9d);
     display: flex;
     justify-content: center;
    }
    .div2 {
     height: 40vh;
      background-color:white;
       border-radius: 20px 20px 0px 0px; 
       position: relative;bottom: 29px;
    }
 
    .logindiv{
        height: 15vh;
        display: flex;
       justify-content: center;
    }
 
    .imgstyle{
     border: solid;
     border-radius: 50%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .airimg{
     width: 130px;
  
     padding-top: 4vh;
    }

    .guest{
      display: flex;
    justify-content: center;
    }

    .guest-button{
      margin-top: 5em;
      box-shadow: 2px 4px 10px grey;
    }