   
  .login {
    position: absolute;
    height: 62vh;
    background-image: url('./../../../assets/images/back.jpg');
    background-color: white;
    bottom: 47vh;
    margin-left: 15vw;
    width: 70vw;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .div1{
      height: 104vh;
     background: rgb(51,63,80);
     display: flex;
     justify-content: center;
    }
    .div2 {
     height: 40vh;
      background: rgb(51,63,80);;
       position: relative;
    }
 
    .logindiv{
        height: 15vh;
        display: flex;
       justify-content: center;
    }
 
    .imgstyle{
     border: solid;
     border-radius: 50%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     background: darkorange;
    }
    .airimg{
      width: 234px;
  
     padding-top: 4vh;
    }

    .guest{
      display: flex;
    justify-content: center;
    }

    .guest-button{
      margin-top: 2em;
      box-shadow: 2px 4px 10px grey;
    }

    