<!-- <mat-grid-list cols="1" rowHeight="2:1">
    <a routerLink="/">
    <mat-grid-tile>
        <mat-card class="official">
            Officials
        </mat-card>
    </mat-grid-tile>
    </a>
    <a routerLink="/home">
    <mat-grid-tile>
        <mat-card class="user">
            Users
        </mat-card>
    </mat-grid-tile>
   </a>
    
  </mat-grid-list> -->
  {{userId}}
  <!-- <div class="main">
      
      <div class="container">
            <div class="official">
                <a routerLink="/" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-cog"></span> Official </a>    
            </div>

            <div class="user">
                <a routerLink="/register" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-cog"></span> User </a>


            </div>
      </div>
  </div> -->
<body>
  <div class="container1">
    <div class="wrap1">
      <button routerLink="/register" target="_blank">
      <div class="first">User</div>
        <div class="second"></div>
      </button>
    </div>
  </div>

  <div class="container2">
    <div class="wrap1" style="margin-top: 4em">
      <button routerLink="/register" target="_blank">
      <div class="first">Official</div>
        <div class="second"></div>
      </button>
    </div>
  </div>

  <div class="image">
    <img src="./../../../assets/images/img-service/flight.png">
  </div>
  
</body>