
<app-navbar>

  <body>
    <button (click)="sendNotify()">Notify</button>
    <!-- <h1>{{userId}}</h1> -->
<!-- 
  <button [routerLink]="['/addJourney']" routerLinkActive="router-link-active" >Add New Journey</button> -->
  
  <!-- <div>
    <button  mat-raised-button
    (click)="openDialog()">Daaku Mangal dialog </button>
 </div>
 -->

 <app-carousel></app-carousel>

 <mat-card class="mat-h2">
   Our Services
 </mat-card>

 <app-newcoupon></app-newcoupon>
<!-- <app-carousel3d></app-carousel3d> -->

<!-- <app-service-card></app-service-card> -->

  </body>
  
</app-navbar>