
<div class="container-fluid ">
  <div class="row">
      <div class="div1" >

      </div>

  </div>
  <div [hidden]="!showLoginBox">
  <div class="row">
      <!-- if not work then remove postion=fixed -->
      <div class= "col-12 col-sm-12 div2" style="position: fixed;">
          <!-- enter phone number -->
          <div class="col-12 col-sm-12" style="height: 325px;">
               <div class="col-12 col-sm-12"style="padding: 2vh">
              <strong>Welcome Aboard</strong>
              </div>
              <!-- for capcha and input -->
              <div>
              <label style="font-size: larger;font-weight: 700;">Enter Phone Number</label>

            <input matInput  type="text" [(ngModel)]="phoneNumber.number"  class="input form-control phostyle " maxlength="10" type="tel" class="phonestyle"  required placeholder="+91 |" >
            <div class="col-12 col-sm-12" style="height: 15vh;margin-top: 2vh;">
                     <!-- for captcha -->
                     <div id="recaptcha-container"></div>
              </div>
             <div class="col-12 col-sm-12"> 
              <button type="button" (click)="sendLoginCode()" class="btn btn-outline-danger" style="margin-left: 22vw; width: 37vw; height: 6vh;border-radius: 25px;">Submit</button>
             </div>
              </div>
          </div>
          <div id="airphoto">
              <img src="./../../../assets/images/airplane-taking-off-runway_1308-11185.jpg">
          </div>
          
      </div>
  </div>
</div>

<!-- </div> -->








<!-- 
  <div class="container-fluid " style="background-image: linear-gradient(#43cea2, #185a9d);">
  <div class="row">
      <div class="col-12 col-sm-12" style="height: 35vh; "> -->
      <!-- for logo -->
      <!-- </div>
  
  
  </div>
  
  
  <div [hidden]="!showLoginBox">
  <div class="row">
      <div class="col-12 col-sm-12" style="height: 15vh; "> -->
    
         <!-- <label style="font-size: larger;font-weight: 700;">Enter Phone Number</label> -->
         <!-- <div class="form-group col">
          <h5>Welcome Aboard!</h5>
           
            <label for="phone"> 
             
              Enter Phone Number
            </label>
            <input matInput  type="text" [(ngModel)]="phoneNumber.number"  class="input form-control phostyle " maxlength="10">
           
          </div>
        
      
              
             
      </div>
  
  
  </div>
  
  
  
  <div class="row">
      <div class="col-12 col-sm-12" style="height: 30vh;padding-top: 5vh;    padding-left: 9vw;;"> -->
      <!-- for capctha -->
      <!-- <div id="recaptcha-container"></div>

      </div>
     
  </div>

  
  <div class="row">
      <div class="col-12 col-sm-12" style="height: 10vh;">
      
      </div>
      <div class="col-12 col-sm-12" style="height: 10vh;">


          
             <a  (click)="sendLoginCode()"   class="signupb" > <b style="color: white;">Send-Code</b></a>
             
      </div>
     
  </div>
  
  
  </div> -->
  
  


  
  <div class="verify" *ngIf="windowRef.confirmationResult ">
   
<!-- for otp verification -->
  
  
  
  
  <div class="row">
      <div class="col-12 col-sm-12" style="height: 15vh; ">
    
         <label style="font-size: larger;font-weight: 700;" for="code">Enter Verification Code</label><br>
  <input  class="input-verify phostyle" type="text" name="code" placeholder="Code" [(ngModel)]="verificationCode">
​  
  
        
              
             
      </div>
  
  
  </div>
  
  
  
  <div class="row">
      <div class="col-12 col-sm-12" style="height: 30vh;">
      
      </div>
     
  </div>
  
  <div class="row">
      <div class="col-12 col-sm-12" style="height: 10vh;">
      
      </div>
      <div class="col-12 col-sm-12" style="height: 10vh;">
          
            
  <button class="signupb btn btn-outline-danger" style="margin-left: 22vw; width: 37vw; height: 6vh;border-radius: 25px;" mat-raised-button (click)="verifyLoginCode()">Verify</button>

             
      </div>
     
  </div>
  
  
  
  
  
  </div>
  
</div>