
<app-navbar>

        <h1>About Us</h1>

        
            <div>
                <div class="text-box">
                    
                    <h5 class="mat-h4">Even if you’re not under time pressure, there’s enough to keep track of at your gate—carry-ons, kids, boarding passes, passports—that an airport app needs to be truly useful to warrant even a quick look.

                        <br>
                        The <a style="color: blueviolet; font-size: 18px;">Airsy Airport App</a> earn their spot on your home screen by providing essential and timely information when you need it. Our app may not be the hottest, coolest, or most fun, but it's an app you will actually use while barreling to and through the airport.
                    </h5>
                </div>
                
                      <mat-panel-title>
                        Services
                      </mat-panel-title>
                    
                    
                  
                   
                    
            <div class="card text-white bg-danger mb-3" >
                <div class="card-header">Taxi</div>
                <div class="card-body">
                <h5 class="card-title"><a class="more"style="color: black" [routerLink]="['/our-service']" routerLinkActive="router-link-active" >Explore more</a></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-warning mb-3" >
                <div class="card-header end">Luggage</div>
                <div class="card-body end">
                <h5 class="card-title"><a class="more" style="color: blueviolet" [routerLink]="['/our-service']" routerLinkActive="router-link-active" >Explore more</a></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" >
                <div class="card-header">Child</div>
                <div class="card-body">
                <h5 class="card-title"><a class="more" style="color: black" [routerLink]="['/our-service']" routerLinkActive="router-link-active" >Explore more</a></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card bg-light mb-3" >
                <div class="card-header end">Check In</div>
                <div class="card-body end">
                <h5 class="card-title"><a class="more" style="color: blueviolet" [routerLink]="['/our-service']" routerLinkActive="router-link-active" >Explore more</a></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
           

        </div>

        
        

      
        
</app-navbar>