mat-panel-title{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.card{
    margin: 0 auto;
    max-width: 29rem;
}

.card-header{
    font-size: 29px;
    height: 2em;
}
.end{
    text-align: end;
}

.text-box{
    margin : 2em
}

h1{
    text-align: center;
}