<div class="container-fluid">
    

    <div class="row">
        <div class="col-6 col-sm-6">
            <div class="card" routerLink="/cabcoupon"   style="    width: 35vw;margin-left: 6vw;margin-top: 4vh;margin-bottom: 4vh; background-color:  #efcc2a;;    box-shadow: 5px 5px 19px #b0b0a9;">
                <img class="card-img-top" src="./../../../assets/images/cabcoupon1.png" alt="Card image cap">
                <div class="card-body" style="padding: inherit;">
                  <h6 class="card-title" style="margin-left: 7vw;">cabcoupon</h6>
                </div>
              </div>
        </div>
        <div class="col-6 col-sm-6">
            <div class="card" routerLink="/hotelcoupon" style=" width: 35vw; margin-top: 4vh;background-color: #54d4ff;    box-shadow: 5px 5px 19px #b0b0a9;">
                <img class="card-img-top" src="./../../../assets/images/hotelcoupon3.png" alt="Card image cap" style="padding-top: 1vh;">
                <div class="card-body" style="padding: inherit;">
                  <h6 class="card-title" style="margin-left: 7vw;">hotelcoupon</h6>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-6">
            <div class="card"  routerLink="/foodcoupon"   style="width: 35vw;margin-left: 6vw;     background-color: crimson;    box-shadow: 5px 5px 19px #b0b0a9;">
                <img class="card-img-top" src="./../../../assets/images/foodcoupon2.png" alt="Card image cap" style=" padding-top: 2vh; padding-bottom: 3vh;">
                <div class="card-body" style="padding: inherit;">
                  <h6 class="card-title" style="margin-left: 7vw;  ">foodcoupon</h6>
                </div>
              </div>
        </div>
        <div class="col-6 col-sm-6">
            <div class="card" routerLink="/flightcoupon" style="width:35vw;background-color: darkseagreen;    box-shadow: 5px 5px 19px #b0b0a9;">
                <img class="card-img-top" src="./../../../assets/images/flightcoupon2.png" alt="Card image cap" style="width: 31vw;margin-left: 2vw;">
                <div class="card-body" style="padding: inherit;">
                  <h6 class="card-title" style="margin-left: 7vw;">flightcoupon</h6>
                </div>
              </div>
        </div>
    </div>
  </div>