<app-navbar>
    <h1>
        My Services
    </h1>
    <mat-card>
    <table class="table" *ngIf="status == 200 ">
        <tbody>
        <tr>
            <th scope="col">SNo.</th>
            <th scope="col">Service Type</th> 
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Date</th>
        </tr>

        <tr *ngFor="let service of myservices; let i=index">
           <th *ngIf="service" scope="row">{{i+1}}.</th>
            <td *ngIf="service" >{{service.name}}</td>
            <td *ngIf="service">{{service.from}}</td>
            <td *ngIf="service">{{service.to}}</td>
            <td *ngIf="service">{{service.time}}</td>
            <!-- <button mat-button (click)="cancel(service)">Cancel</button> -->
        </tr>
    </tbody>
    </table>

    <div *ngIf="status == 210">
        No Services Enrolled!
    </div>

    <div *ngIf="status == 300">
        Error in getting your Services!
    </div>
    
    </mat-card>
    
    

    
    
    
        
    
</app-navbar>
