<app-navbar>
    <h1>
        My Services
    </h1>
    <mat-card>
    <table class="table" *ngIf="status == 200 ">
        <thead>
        <tr>
            <th scope="col">SNo.</th>
            <th scope="col">Service Type</th> 
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
        <tbody>
        <tr *ngFor="let service of myservices; let i=index">
           <th scope="row">{{i+1}}.</th>
            <td>{{service.name}}</td>
            <td>{{service.from}}</td>
            <td>{{service.to}}</td>
            <td>{{service.time}}</td>
        </tr>
    </tbody>
    </table>

    <div *ngIf="status == 210">
        No Services Enrolled!
    </div>

    <div *ngIf="status == 300">
        Error in getting your Services!
    </div>
    
    </mat-card>
    
    

    
    
    
        
    
</app-navbar>
