
<div id="demo" class="carousel slide" data-ride="carousel" >
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img src= 'https://media-cdn.tripadvisor.com/media/photo-i/0f/33/9e/13/starbucks.jpg' width="400vp" height="180"  >
        <div class="carousel-caption">
         
        </div>   
      </div>
      <div class="carousel-item">
        <img src='https://media-cdn.tripadvisor.com/media/photo-s/05/ad/f2/0b/mostly-grills.jpg' alt="Chicago" width="400" height="180">
        <div class="carousel-caption">
         
        </div>   
      </div>
      <div class="carousel-item">
        <img src='https://media-cdn.tripadvisor.com/media/photo-s/05/a4/79/b6/peshwa-pavilion.jpg' alt="New York" width="400" height="180">
        <div class="carousel-caption">
        
        </div>   
      </div>
      <div class="carousel-item">
        <img src='https://media-cdn.tripadvisor.com/media/photo-i/0d/6c/8a/fc/salad-counter.jpg' alt="Chicago" width="400" height="180">
        <div class="carousel-caption">
         
        </div>   
      </div>

    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
 